@import url('https://fonts.googleapis.com/css?family=Manrope|Open+Sans&display=swap');
body {
    margin: 0;
    color: #131313;
    background-color: #DCE0E0;
    font-family: 'Manrope', sans-serif;
}
#head-block {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #dce0e0;
    margin-left: 25vw;
    width: 75vw;
    color: #131313;
    background-color: #EEE;
}
#title{
    display: inline-block;
    font-size: 3.6vw;
    margin-left: 7%;
    font-family: 'Manrope', sans-serif;
}
#title a{
    color: #131313;
}
#hamburger {
    float: right;
    margin: 1.5% 7% 1.5% 0;
    padding: 3px 8px;
    font-size: 5vw;
    color: #131313;
}
header {
    position: sticky;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    top: 0;
}
#menu {
    display: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #EEE;
}
a{
    text-decoration: none;
}
.nav-link{
    display: block;
    list-style-type: none;
    color: #131313;
    font-size: 5vw;
    line-height: 8vh;
    text-align: center;
}
.nav-link li {
    display: block;
}
#first-line {
    margin-top: 0;
}
#last-line {
    margin-bottom: 0;
}
#header-divider{
    margin: 0;
    color: #19364C;
}
#article-header {
    display: flex;
}
#article-header nav {
    width: 25vw;
}
#sidebar {
    position: fixed;
    overflow: scroll;
    height: 100vh;
    width: 25vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border-right: 1px solid #EDF0F2; */
    background: linear-gradient(-90deg, #131313 -100%, #DCE0E0 6%);
    text-align: center;
    font-size: 3vw;
    /* padding-top: 11vw; */
    top: 0;
}
.sidebar-link {
    color: #131313;
}
.sidebar-link li {
    border-top: 1px solid rgba(162, 171, 171, 0.5);
    padding: 1em 4%;
}
#diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 75vw;
    background-color: #EEE;
}
#diagram-title {
    font-size: 4vw;
}
#diagram p {
    text-align: center;
    border: 1px solid #a2abab;
    border-radius: 5px;
    width: 65vw;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #131313;
    background-color: #dce0e0;
}
#article-body {
    float:right;
    background-color: #EEE;
    width: 69vw;
    border-top: 1px solid #dce0e0;
    padding: 3vw;
}
#article-title{
    font-size: 6.4vw;
}
section p {
    text-indent: 10px;
}
h3 {
    font-size: 5vw;
}
p, .article-list{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    padding: 0;
}
.article-list li {
    text-indent: 4vw;
}
.article-link {
    color: #3b95ca;
}
.paragraph-divider{
    margin: 2em 0;
}
#responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
#responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@media screen and (min-width: 768px){
    .nav-link{
        display: block;
        list-style-type: none;
        color: #131313;
        font-size: 2vw;
        line-height: 10vh;
        text-align: center;
    }
}
@media screen and (min-width: 992px){
    #head-block{
        width: 80vw;
        margin-left: 20vw;
    }
    #title {
        font-size: 2vw;
    }
    #hamburger {
        font-size: 2vw;
    }
    #article-header nav {
        width: 20vw;
    }
    #sidebar {
        width: 20vw;
        font-size: 1.5vw;
    }
    #diagram{
        width: 80vw;
    }
    #diagram p{
        margin-left: 9vw;
        margin-right: 9vw;
        width: 52vw;
    }
    #article-body {
        width: 60vw;
        padding: 2vw 10vw;
    }
    #article-title {
        font-size: 3.7vw;
    }
    h3 {
        font-size: 3vw;
    }
    h4 {
        font-size: 2vw;
    }
    p, .article-list{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    padding: 0;
    }
}
