@import url('https://fonts.googleapis.com/css?family=Manrope|Open+Sans&display=swap');

body {
    margin: 0;
    color: #131313;
    background-color: #EEE;
    font-family: 'Manrope', sans-serif;
}
#head-block {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #dce0e0;
    color: #131313;
    margin-left: 25vw;
    width: 75vw;
}
#title{
    display: inline-block;
    font-size: 3.6vw;
    margin-left: 7%;
    font-family: 'Manrope', sans-serif;
}
#hamburger {
    float: right;
    margin: 1.5% 7% 1.5% 0;
    padding: 3px 8px;
    font-size: 5vw;
    color: #131313;
}
header {
    position: sticky;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    top: 0;
}
#menu {
    display: none;
    padding: 0;
    margin-bottom: 0;
    background-color: #EEE;
}
a{
    text-decoration: none;
}
.nav-link{
    display: block;
    list-style-type: none;
    color: #131313;
    font-size: 5vw;
    line-height: 8vh;
    text-align: center;
}
.nav-link li {
    display: block;
}
#last-line {
    margin-bottom: 0;
}
#header-divider{
    margin: 0;
    color: #19364C;
}
#article-header {
    display: flex;
}
#article-header nav {
    width: 25vw;
}
#sidebar {
    position: fixed;
    height: 93.7vh;
    width: 25vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border-right: 1px solid #EDF0F2; */
    background: linear-gradient(-90deg, #131313 -100%, #DCE0E0 6%);
    text-align: center;
    font-size: 3vw;
    padding-top: 11vw;
    top: 0;
}
.sidebar-divider {
    border-width: 0;
}
.sidebar-link {
    color: #131313;
}
#diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 60vh;
    background-color: #EEE;
}
#article-body {
    float:right;
    background-color: #EEE;
    width: 69vw;
    border-top: 1px solid #dce0e0;
    padding: 3vw;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
}
.paragraph-divider{
    margin: 2em 0;
}